$colors: (primary: #01b0fe,
  primary-light: #4dd0e1,
  secondary: #455a64,
  tertiary: #78909c,
  background: #eceff1,
  background-card: #f8f9fa,
  shadow-header: rgba(29, 188, 243, 0.35),
  shadow-card: rgba(33, 198, 255, 0.02),
  shadow: rgba(69, 90, 100, 0.14),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}